<%= form_for @task do |f| %>

    <% @task.errors.full_messages.each do |message|%>
        <ul>
            <li>
                <%= message%>
            </li>
        </ul>
    <% end %>


    <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :details %>
        <%= f.text_area :details %>
    </fieldset>

    <fieldset>
        <%= f.label :deadline %>
        <%= f.date_field :deadline %>
    </fieldset>

    <fieldset>
        <%= f.check_box :started %>
        <%= f.label :started %>

        <%= f.check_box :completed %> 
        <%= f.label :completed %>
    </fieldset>

    <fieldset>
        <%= f.label :category_id %>
        <%= f.select :category_id, options_from_collection_for_select(current_user.categories, :id, :name, f.object.category_id) %>
    </fieldset>

    <div class="form-actions">
        <%= f.submit%>
    </div>
    
<% end %>