<%= form_for(:category) do |f| %>

<div>
<h1>Edit category: <%=@category.name%></h1>
    <% if @category.errors.any? %>
        <ul>
            <% @category.errors.full_messages.each do |message| %>
                <li>
                    <%= message%>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>

<div>
    <%= f.label :name %>
    <%= f.text_field :name , value: @category.name %>
</div>

<div>
    <%= f.label :description %>
    <%= f.text_area :description , value: @category.description %>
</div>

<div class="form-submit">
    <%= f.submit 'Update', formaction: update_category_path%>
    <%= link_to 'Delete', delete_category_path(:id => @category.id) %>
</div>

<% end %>

<%= link_to 'Back to categories', categories_path, class: "btn-link-to"%>